<% provide(:title, "Home") %>
<% provide(:bottitle, "Home") %>
<div class="custom-container container">
      <div class = "row">
        <div class = "col-sm-8">
            <h1><strong>Welcome</strong> Ice Cream Lovers!</h1>

            <p id = "intro"> At A & M Creamery we seek to provide our customers with only the highest quality home-made ice cream. 
            We source all of our ingredients locally. All of our ice cream is made in-house 
            to provide that extra touch of love you cant find in grocery store brands. Since we love playing with your taste buds all 
            our flavors our home made and self created as well.<br>
            <br>
            <strong>So please come and try our delicious ice cream!!!</strong></p>
        </div>
        
        <div class = "col-sm-4">
          <div class = "sidebar">
            <%= image_tag 'icecream.jpg', alt: 'Ice-cream', height: 300, width: 200, :class => "sidesmg" %>
          </div>
        </div> 
      </div>
    </div>
